<mat-toolbar color="primary">
	<span>Machine List</span>
</mat-toolbar>
<div class="content-wrapper">
	<app-loading [loading]="loading$ | async"></app-loading>

	<table mat-table [dataSource]="machines$" *ngIf="!(loading$ | async)" class="mat-elevation-z8">

		<ng-container matColumnDef="id">
			<th mat-header-cell *matHeaderCellDef> Id. </th>
			<td mat-cell *matCellDef="let element"> {{element.id}} </td>
		</ng-container>

		<ng-container matColumnDef="status">
			<th mat-header-cell *matHeaderCellDef> Status </th>
			<td mat-cell *matCellDef="let element"> {{element.status}} </td>
		</ng-container>

		<ng-container matColumnDef="machine_type">
			<th mat-header-cell *matHeaderCellDef> Machine type </th>
			<td mat-cell *matCellDef="let element"> {{element.machine_type}} </td>
		</ng-container>

		<ng-container matColumnDef="latitude">
			<th mat-header-cell *matHeaderCellDef> Latitude </th>
			<td mat-cell *matCellDef="let element"> {{element.latitude}} </td>
		</ng-container>

		<ng-container matColumnDef="longitude">
			<th mat-header-cell *matHeaderCellDef> Longitude </th>
			<td mat-cell *matCellDef="let element"> {{element.longitude}} </td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="{{row.id}}"></tr>
	</table>

	<ng-container *ngIf="(machines$ | async)?.length === 0">
		Sorry, no data available!
	</ng-container>
</div>
